:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(0 0 0 / 87%);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  --markprompt-background: #fff;
  --markprompt-foreground: #171717;
  --markprompt-muted: #fafafa;
  --markprompt-mutedForeground: #737373;
  --markprompt-border: #e5e5e5;
  --markprompt-input: #fff;
  --markprompt-primary: #6366f1;
  --markprompt-primaryForeground: #fff;
  --markprompt-primaryMuted: #8285f4;
  --markprompt-secondary: #fafafa;
  --markprompt-secondaryForeground: #171717;
  --markprompt-primaryHighlight: #ec4899;
  --markprompt-secondaryHighlight: #a855f7;
  --markprompt-overlay: #00000010;
  --markprompt-ring: #0ea5e9;
  --markprompt-radius: 8px;
  --markprompt-text-size: 0.875rem;
  --markprompt-text-size-xs: 0.75rem;
  --markprompt-button-icon-size: 1rem;
  --markprompt-icon-stroke-width: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --markprompt-background: #050505;
    --markprompt-foreground: #d4d4d4;
    --markprompt-muted: #171717;
    --markprompt-mutedForeground: #737373;
    --markprompt-border: #262626;
    --markprompt-input: #fff;
    --markprompt-primary: #6366f1;
    --markprompt-primaryForeground: #fff;
    --markprompt-primaryMuted: #8285f4;
    --markprompt-secondary: #0e0e0e;
    --markprompt-secondaryForeground: #fff;
    --markprompt-primaryHighlight: #ec4899;
    --markprompt-secondaryHighlight: #a855f7;
    --markprompt-overlay: #00000040;
    --markprompt-ring: #fff;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 1rem;
}

body,
#__next {
  min-height: 100vh;
  min-height: 100dvh;
  color: #020617;
}

.Container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
  padding-top: 100px;
  font-size: 0.875rem;
}

.InputForm {
  width: 100%;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: flex-start;
}

.InputForm input {
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  outline: none;
  padding: 8px;
}

.InputForm input:focus {
  border: 1px solid #020617;
}

.label {
  font-weight: 600;
  margin: 0;
}

.Output {
  width: 100%;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: flex-start;
}

.OutputLogs {
  width: 100%;
  height: 400px;
  overflow: auto;
  padding: 2rem;
  border-radius: 5px;
  background-color: #020617;
  color: #d2d2d2;
  font-family: monospace;
  font-size: 0.75rem;
  white-space: pre-wrap;
}
