# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
*.tgz

# packing
dist/
.docusaurus/
.next/
build/

# testing
/coverage/
**/coverage/

# production
/build/
/dist/

# misc
.DS_Store
*.pem
.idea/

# debug
*.log*
meta.json

# local env files
.env
.env.*

private

# typescript
*.tsbuildinfo
