@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/blackA.css';

:root {
  --markprompt-background: #ffffffff;
  --markprompt-foreground: #171717;
  --markprompt-muted: #fafafa;
  --markprompt-mutedForeground: #737373;
  --markprompt-border: #e5e5e5;
  --markprompt-input: #ffffff;
  --markprompt-primary: #6366f1;
  --markprompt-primaryForeground: #ffffff;
  --markprompt-secondary: #fafafa;
  --markprompt-secondaryForeground: #171717;
  --markprompt-primaryHighlight: #ec4899;
  --markprompt-secondaryHighlight: #7539ad;
  --markprompt-ring: #0ea5e9;
  --markprompt-overlay: #00000000;
  --markprompt-radius: 8px;
  --markprompt-button-icon-size: 1rem;
  --markprompt-text-size: 0.875rem;
}

.dark {
  --markprompt-background: #050505;
  --markprompt-foreground: #d4d4d4;
  --markprompt-muted: #171717;
  --markprompt-mutedForeground: #737373;
  --markprompt-border: #262626;
  --markprompt-input: #ffffff;
  --markprompt-primary: #6366f1;
  --markprompt-primaryForeground: #ffffff;
  --markprompt-secondary: #0e0e0e;
  --markprompt-secondaryForeground: #ffffff;
  --markprompt-primaryHighlight: #ec4899;
  --markprompt-secondaryHighlight: #a855f7;
  --markprompt-ring: #ffffff;
}

button {
  all: unset;
}

.MarkpromptButton {
  display: flex;
  cursor: pointer;
  border-radius: 99999px;
  color: var(--markprompt-primaryForeground);
  background-color: var(--markprompt-primary);
  padding: 0.75rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transition-property: opacity;
  transition-duration: 200ms;
}

.MarkpromptButton:hover {
  opacity: 0.8;
}

.MarkpromptIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.MarkpromptOverlay {
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  background-color: var(--markprompt-overlay);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.MarkpromptContent {
  background-color: var(--markprompt-background);
  border-radius: var(--markprompt-radius);
  border: 1px solid var(--markprompt-border);
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 600px;
  height: calc(100vh - 200px);
  max-height: 700px;
  animation-name: contentShow;
  animation-duration: 300ms;
  animation-fill-mode: both;
  transition-timing-function: cubic-bezier(0.25, 0.4, 0.55, 1.4);
  color: var(--gray12);
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -46%) scale(0.98);
  }
  50% {
    transform: translate(-50%, -51%) scale(1.02);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.MarkpromptClose {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: var(--markprompt-foreground);
  width: var(--markprompt-button-icon-size);
  height: var(--markprompt-button-icon-size);
  padding: 0.25rem;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.MarkpromptClose:hover {
  opacity: 0.8;
}

.MarkpromptClose:focus {
  box-shadow: inset 0 0 0 2px var(--markprompt-primary);
}

.MarkpromptSearchIcon {
  position: absolute;
  top: 1rem;
  left: 1.25rem;
  color: var(--markprompt-foreground);
  width: var(--markprompt-button-icon-size);
  height: var(--markprompt-button-icon-size);
  cursor: pointer;
  display: grid;
  place-items: center;
}

.MarkpromptTitle {
  margin-block-start: 0;
}

.MarkpromptPrompt {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  outline: none !important;
  border-bottom-width: 1px;
  border-bottom-color: var(--markprompt-border);
  box-shadow: none;
  width: 100%;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: var(--markprompt-text-size);
  color: var(--markprompt-foreground);
  caret-color: var(--markprompt-primary);
}

.MarkpromptPrompt:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: none;
}

.MarkpromptPrompt::placeholder {
  color: var(--gray8);
}

.MarkpromptPrompt:focus {
  outline: 2px solid var(--blackA9);
}

.MarkpromptReferences {
  background-color: var(--markprompt-muted);
  color: var(--markprompt-mutedForeground);
  border-top: 1px solid var(--markprompt-border);
}

.answer :not(:last-child) .caret {
  display: none;
}

.answer {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2rem 2rem;
  font-size: var(--markprompt-text-size);
}

.answer * {
  line-height: 1.6;
  margin-top: 0;
}

.answer * + * {
  margin-top: 1.5em;
}

.answer ul,
.answer ol {
  padding-left: 1.25em;
}

.answer code:not(pre code) {
  background-color: var(--markprompt-muted);
  border: 1px solid var(--markprompt-border);
  color: var(--markprompt-foreground);
  border-radius: 0.25em;
  padding: 0.125em 0.25em;
}

.answer pre {
  background-color: var(--markprompt-muted);
  border: 1px solid var(--markprompt-border);
  color: var(--markprompt-foreground);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
}

.caret {
  display: none;
  height: 1rem;
  width: 0.5rem;
  margin-left: 0.2rem;
  transform: translate(2px, 2px);
  border-radius: 1px;
  background-color: var(--markprompt-primary);
  box-shadow: 0 0 3px 0 var(--markprompt-primary);
  animation-name: blink;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  transition-timing-function: cubic-bezier(0.14, 0, 0.16, 1);
}

[data-loading-state='loading'] .caret {
  display: inline-block;
}

[data-loading-state='success'] .caret {
  display: none;
}

.progress {
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    var(--markprompt-primaryHighlight),
    var(--markprompt-secondaryHighlight)
  );
  animation-name: progress;
  animation-duration: 2s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  transition-timing-function: cubic-bezier(0.14, 0, 0.16, 1);
}

.references {
  padding: 0.5rem 2rem;
  background-color: var(--markprompt-muted);
  border-top: 1px solid var(--markprompt-border);
  font-size: 0.75rem;
}

.references p {
  font-weight: 600;
}

.popup {
  transform: translateY(100%);
  opacity: 0;
  animation: popup 200ms ease-out forwards;
}

.references ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.reference {
  font-size: 0.875rem;
}

.reference a {
  display: inline-block;
  text-decoration: none;
  padding: 0 0.375rem;
  border: 1px solid var(--markprompt-border);
  border-radius: 0.25rem;
  color: var(--markprompt-primary);
  transition-property: opacity;
  transition-duration: 200ms;
}

.reference a:hover {
  opacity: 0.8;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes popup {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes progress {
  0% {
    width: 0;
    transform: translateX(0);
  }
  50% {
    width: 100%;
    transform: translateX(0);
  }
  100% {
    width: 100%;
    transform: translateX(100%);
  }
}
